name: kani

on:
  workflow_dispatch:

jobs:
  prove:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: install kani
        run: cargo install --locked kani-verifier
      - name: setup kani
        run: cargo kani setup
      - name: prove
        run: cargo kani

